<%include ../views/layout/header %>

    <form action="/products/add" method="post">
      product:<br>
      <input type="text" name="name" value="">
      <br>
      price:<br>
      <input type="text" name="price" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
