<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="header">
      <a href="/products">Products</a>
      <a href="/products/add">Add Product</a>
      <a href="/products/edit">edit Product</a>
      <a href="/products/search">search Product</a>

    </div>
